/* Louvado seja o Senhor */

button {
  background: linear-gradient(90deg, #38B75A, #2FAE55);
  border: none;
  color: var(--primary-color);
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: bold;
  transition: .3s;
}

button:hover {
  filter: brightness(1.1);
  transform: translateY(-2px);
}