/* Louvado seja o Senhor */

button{
    background-color: var(--tertiary-color);
    padding: 0.65rem;
    border: none;
    border-radius: 4px;
    color: var(--primary-color);
    font-size: 1rem;
}

button:hover{
    background-color: var(--highlight-color);
    cursor: pointer;
}