<!-- Louvado seja o Senhor -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-header/>

    <main>
        <section class="info-section">
            <div class="info-data-div">
                <h1>Nome: {{ nomeCliente }}</h1>
                
                <div class="valor-div">
                    <h2>Valor da Dívida: {{ divida | currency: "BRL" }}</h2>
                    <app-button (clicked)="openPagamentoModal()">
                        <p>Pagar dívida</p>
                    </app-button>
                </div>
            </div>

            <div class="info-tables-div">
                <app-table width="40vw" btnDisplay="none">
                    <tr table-header>
                        <th>Valor da Dívida</th>
                        <th>Data da Dívida</th>
                        <th>Ações</th>
                    </tr>

                    <tr table-data *ngFor="let regDivida of registroDividas">
                        <td>{{ regDivida.valorDivida | currency: "BRL" }}</td>
                        <td>{{ regDivida.dataDivida | date: "dd/MM/yyyy" }}</td>
                        <td class="table-actions-div">
                            <i class="ph ph-pencil-simple" (click)="openEditDividaModal(regDivida.regDividasID)"></i>
                            <i class="ph ph-trash-simple" (click)="openDeleteDividaModal(regDivida.regDividasID)"></i>
                        </td>
                    </tr>
                </app-table>
                
                <app-table width="40vw" btnDisplay="none">
                     <tr table-header>
                        <th>Valor do Pagamento</th>
                        <th>Data do Pagamento</th>
                        <th>Ações</th>
                    </tr>

                    <tr table-data *ngFor="let pagDivida of pagamentoDividas">
                        <td>{{ pagDivida.valorPagamento | currency: "BRL" }}</td>
                        <td>{{ pagDivida.dataPagamento | date: "dd/MM/yyyy" }}</td>
                        <td class="table-actions-div">
                            <i class="ph ph-pencil-simple" (click)="openEditPagamentoModal(pagDivida.pagDividasID)"></i>
                            <i class="ph ph-trash-simple" (click)="openDeletePagamentoModal(pagDivida.pagDividasID)"></i>
                        </td>
                    </tr>
                </app-table>
            </div>
        </section>

        <section class="devedores-table-section">
            <h2>Lista Geral de Clientes</h2>

            <app-table width="90vw" btnDisplay="none">
                <tr table-header>
                    <th>Nome do Devedor</th>
                    <th>Valor da Dívida</th>
                    <th>Ações</th>
                </tr>
                
                <tr table-data *ngFor="let cliente of clientes">
                    <td>{{ cliente.clienteNome }}</td>
                    <td>{{ cliente.clienteDivida | currency: "BRL" }}</td>
                    <td>
                        <app-button (clicked)="chooseCliente(cliente.clienteID)">
                            Carregar informações do cliente
                        </app-button>
                    </td>
                </tr>
            </app-table>
        </section>
    </main>

    <app-modal-pagamento [(isPagamentoOpen)]="isPagamentoModalOpen" [clienteID]="clienteID" />
    <app-modal-edit-divida [(isEditDividaOpen)]="isEditDividaModalOpen" [registro]="selectedRegistroDivida" [clienteNome]="nomeCliente" />
    <app-modal-edit-pagamento [(isEditPagamentoOpen)]="isEditPagamentoModalOpen" [registro]="selectedPagamentoDivida" />
    <app-modal-delete-divida [(isDeleteRegistroModalOpen)]="isDeleteDividaModalOpen" [registro]="selectedRegistroDivida" /> 
    <app-modal-delete-pagamento [(isDeletePagamentoModalOpen)]="isDeletePagamentoModalOpen" [registro]="selectedPagamentoDivida" /> 
</body>
</html>