<!-- Louvado seja o Senhor -->

<form #form="ngForm" (ngSubmit)="login(form)">
    <label for="username">
        <i class="ph ph-user"></i>
        <input type="text" name="username" id="username" placeholder="Username" ngModel>
    </label>
    
    <label for="password">
        <i class="ph ph-password"></i>
        <input type="password" name="password" id="password" placeholder="Senha" ngModel>
        <i class="ph ph-eye"></i>
    </label>
    
    <button type="submit">Login</button>
</form>