/* Louvado seja o Senhor */

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--primary-color);
    height: 20rem;
    width: 28rem;
    gap: 2rem;
}

label{
    display: flex;
    width: 70%;
    align-items: center;
    border: 2px solid var(--tertiary-color);
    background-color: var(--tertiary-color);
    border-radius: 4px;
}

i{
    padding: 0 0.25rem;
    font-size: 1.125rem;
    color: var(--primary-color);
}

input{
    border: none;
    width: 100%;
    height: 1.5rem;
    border: 2px solid var(--tertiary-color);
    padding: 0.125rem 0.5rem;
    border-radius: 4px;
}

button{
    width: 70%;
    background-color: var(--tertiary-color);
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
    color: var(--primary-color);
    cursor: pointer;
}