/* Louvado seja o Senhor */

.navbar {
  background: var(--tertiary-color);
  color: var(--primary-color);

  height: 4.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 1.25rem;
  font-size: 1.35rem;
}

.user-icon,
.logout-icon {
  font-size: 1.75rem;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.nav-links a {
  color: var(--primary-color);
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.nav-links a:hover {
  opacity: 0.7;
}