/* Louvado seja o Senhor */

nav{
    display: flex;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    font-size: 2rem;
}

.ph-user{
    position: absolute;
    left: 1%;
}

.ph-sign-out{
    position: absolute;
    right: 1%;
}

ul{
    display: flex;
    gap: 2rem;
    width: 100%;
}

ul a{
    text-decoration: none;
    color: var(--primary-color);
}