/* Louvado seja o Senhor */

a{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30rem;
    height: 10rem;
    border: 2px solid var(--tertiary-color);
    border-radius: 8px;
    background-color: var(--card-bg-color);
    text-decoration: none;
    color: var(--secondary-color);
}