/* Louvado seja o Senhor */

section{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

table{
    width: 100%;
    background-color: var(--highlight-color);
    border-radius: 7px;
    border: 2px solid var(--highlight-color);
}

tbody{
    text-align: center;
    background-color: var(--primary-color);
}

.prod-table-div{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.actions-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.filters-div{
    display: flex;
    gap: 2rem;
}

:host ::ng-deep tr th{
    color: var(--primary-color);
}

:host ::ng-deep tr td{
    border-radius: 0 0 7px 7px;
}

:host ::ng-deep tr th, :host ::ng-deep tr td{
    padding: 0.5rem 0;
}