/* Louvado seja o Senhor */

section{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

table{
    width: 100%;
    background-color: var(--highlight-color);
}

tbody{
    text-align: center;
    background-color: var(--primary-color);
}

.prod-table-div{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.actions-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.filters-div{
    display: flex;
    gap: 2rem;
}