<!-- Louvado seja o Senhor -->

<section [style.width]="width">
    <div class="actions-div">
        <app-button [action]="clickFunc">
            <ng-content select="[btn-text]"/>
        </app-button>

        <div class="filters-div">
            <label for="search">
                <input type="text" name="search" id="search">
                <i class="ph ph-magnifying-glass"></i>
            </label>
            
            <i class="ph ph-funnel"></i>
        </div>
    </div>

    <table>
        <thead>
            <ng-content select="[table-header]"/>
        </thead>
        <tbody>
            <ng-content select="[table-data]"/>
        </tbody>
    </table>
</section>