<!-- Louvado seja o Senhor -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-header/>

    <main>
        <section class="tables-section">
            <app-table width="40vw" [clickFunc]="openNovaVendaModal">
                <p btn-text>Adicionar registro de venda</p>

                <tr table-header>
                    <th>Nome do comprador</th>
                    <th>Valor da compra</th>
                    <th>Tipo da compra</th>
                    <th>Data da venda</th>
                </tr>

                <tr table-data *ngFor="let venda of vendas">
                    <td>{{ venda.nomeComprador }}</td>
                    <td>{{ venda.vendaValor }}</td>
                    <td>{{ venda.tipoCompra }}</td>
                    <td>{{ venda.vendaDataRegistro | date: "dd/MM/yyyy"}}</td>
                </tr>
            </app-table>
            
            <app-table width="40vw" [clickFunc]="openDevedoresModal">
                <p btn-text>Ver lista de devedores</p>

                <tr table-header>
                    <th>Nome do devedor</th>
                    <th>Valor da dívida</th>
                    <th>Data da dívida</th>
                </tr>

                <tr table-data *ngFor="let divida of dividas">
                    <td>{{ divida.nomeComprador }}</td>
                    <td>{{ divida.vendaValor }}</td>
                    <td>{{ divida.vendaDataRegistro | date: "dd/MM/yyyy"}}</td>
                </tr>
            </app-table>
        </section>
    </main>

    <app-modal-nova-venda [(isNovaVendaOpen)]="isNovaVendaModalOpen" />

    <app-modal-registro-devedores [(isRegistroDevedoresOpen)]="isDevedoresModalOpen" />
</body>
</html>