/* Louvado seja o Senhor */

body{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.tables-section{
    display: flex;
    justify-content: space-evenly;
}

.table-title{
    text-align: center;
    margin-bottom: 2rem;
}

.table-actions-div{
    font-size: 1.125rem;
}

.table-actions-div .ph{
    cursor: pointer;
}

.table-actions-div .ph-pencil-simple{
    margin-right: 1rem;
}