/* Louvado seja o Senhor */

body{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-actions-div{
    font-size: 1.125rem;
}

.table-actions-div .ph{
    cursor: pointer;
}

.table-actions-div .ph-pencil-simple{
    margin-right: 1rem;
}

.input-div{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    padding: 1.5rem 0;
}

.button-div{
    display: flex;
    justify-content: flex-end;
}