<!-- Louvado seja o Senhor -->

<body>
    <app-header/>

    <main>
        <div class="prod-table-div">        
            <app-table class="table" width="90vw">
                <p btn-text>Adicionar Produto</p>

                <tr table-header>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Valor Unitário</th>
                    <th>Valor do Kg</th>
                    <th>Categoria</th>
                </tr>
                
                <tr table-data>
                    <td>ID</td>
                    <td>Nome</td>
                    <td>Valor Unitário</td>
                    <td>Valor do Kg</td>
                    <td>Categoria</td>
                </tr>
            </app-table>
        </div>
    </main>
</body>
