/* Louvado seja o Senhor */

body{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table{
    width: 90%;
}