<!-- Louvado seja o Senhor -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-header/>

    <main>
        <div class="prod-table-div">        
            <app-table class="table" width="90vw" [clickFunc]="openAddModal" overflowHeight="70vh">
                <p btn-text>Adicionar Produto</p>

                <tr table-header>
                    <th>Nome</th>
                    <th>Valor Unitário ou Kg</th>
                    <th>Categoria</th>
                    <th>Ações</th>
                </tr>
                
                <tr table-data *ngFor="let produto of produtos">
                    <td>{{ produto.prodNome }}</td>
                    <td>{{ produto.prodValor }}</td>
                    <td>{{ produto.prodCategoria }}</td>
                    <td class="table-actions-div">
                        <i class="ph ph-pencil-simple" (click)="openEditModal(produto.prodID)"></i>
                        <i class="ph ph-trash-simple" (click)="openDeleteModal(produto.prodID)"></i>
                    </td>
                </tr>
            </app-table>
        </div>
    </main>

    <app-modal [(isOpen)]="isAddModalOpen" class="modal" width="40vw" height="50vh">
        <h1 modal-title>Adicionar Produto</h1>
        
        <i class="ph ph-package icon" modal-icon></i>

        <form #form="ngForm" (ngSubmit)="form.valid && addProduto(form)" modal-content>
            <div class="input-div">
                <app-input 
                inputType="text" 
                inputID="nomeProduto"
                name="nomeProduto" 
                inputName="nomeProduto" 
                inputPlaceholder="Nome do produto"
                [required]="true"
                ngModel>
                    <i class="ph ph-scan" label-icon></i>
                </app-input>
            
                <app-input 
                inputType="number" 
                inputID="valorProduto"
                name="valorProduto" 
                inputName="valorProduto" 
                inputPlaceholder="Valor do produto (unidade ou kg)"
                [required]="true"
                ngModel>
                    <i class="ph ph-coin" label-icon></i>
                </app-input>

                <app-input 
                inputType="string" 
                inputID="categoriaProduto"
                name="categoriaProduto" 
                inputName="categoriaProduto" 
                inputPlaceholder="Categoria do produto"
                [required]="true"
                ngModel>
                    <i class="ph ph-article" label-icon></i>
                </app-input>

                <div class="button-div">
                    <app-button type="submit">
                        Adicionar novo produto
                    </app-button>
                </div>
            </div>
        </form>
    </app-modal>

    <app-modal [(isOpen)]="isEditModalOpen" class="modal" width="40vw" height="50vh">
        <h1 modal-title>Editar Produto</h1>
        
        <i class="ph ph-pencil-simple icon" modal-icon></i>

        <form #formEdicao="ngForm" (ngSubmit)="editProduto(formEdicao)" modal-content>
            <div class="input-div" *ngIf="selectedProd">
                <app-input 
                inputType="text" 
                inputID="nomeProdutoEdicao"
                name="nomeProdutoEdicao" 
                inputName="nomeProdutoEdicao" 
                inputValue="{{ selectedProd.prodNome }}"
                inputPlaceholder="Nome do produto"
                [(ngModel)]="selectedProd.prodNome">
                    <i class="ph ph-scan" label-icon></i>
                </app-input>
                
                <app-input 
                inputType="number" 
                inputID="valorProdutoEdicao"
                name="valorProdutoEdicao" 
                inputName="valorProdutoEdicao"
                inputValue="{{ selectedProd.prodValor }}" 
                inputPlaceholder="Valor do produto (unidade ou kg)"
                [(ngModel)]="selectedProd.prodValor">
                    <i class="ph ph-coin" label-icon></i>
                </app-input>

                <app-input 
                inputType="string" 
                inputID="categoriaProdutoEdicao"
                name="categoriaProdutoEdicao" 
                inputName="categoriaProdutoEdicao" 
                inputValue="{{ selectedProd.prodCategoria }}"
                inputPlaceholder="Categoria do produto"
                [(ngModel)]="selectedProd.prodCategoria">
                    <i class="ph ph-article" label-icon></i>
                </app-input>

                <div class="button-div">
                    <app-button type="submit">
                        Concluir edição
                    </app-button>
                </div>
            </div>
        </form>
    </app-modal>

    <app-modal [(isOpen)]="isDeleteModalOpen" width="50vw" height="50vh" class="modal">
        <h1 modal-title>Excluir produto</h1>

        <i class="ph ph-trash-simple icon" modal-icon></i>

        <div class="delete-div" modal-content *ngIf="selectedProd">
            <h2>Realmente deseja excluir o produto: {{ selectedProd.prodNome }}?</h2>
            <div class="delete-buttons-div">
                <app-button (clicked)="deleteProduto()">Sim</app-button>

                <app-button (clicked)="closeDeleteModal()">Não</app-button>
            </div>
        </div>
    </app-modal>
</body>
</html>
