/* Louvado seja o Senhor */

body{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table{
    width: 90%;
}

.input-div{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    padding: 1.5rem 0;
}

.button-div{
    display: flex;
    justify-content: flex-end;
}