<!-- Louvado seja o Senhor -->

<app-modal [(isOpen)]="isNovaVendaOpen" width="35vw" height="50vh">
    <h1 modal-title>Adicionar nova venda</h1>
    <i class="ph ph-coins icon" modal-icon></i>

    <form #form="ngForm" (ngSubmit)="form.valid && adicionarRegistroVenda(form)" modal-content>
        <section class="input-section">
            <app-input 
            inputType="text" 
            inputID="nomeComprador"
            name="nomeComprador" 
            inputName="nomeComprador" 
            inputPlaceholder="Nome do comprador"
            ngModel>
                <i class="ph ph-identification-card" label-icon></i>
            </app-input>

            <app-input 
            inputType="date" 
            inputID="dataCompra"
            name="dataCompra" 
            inputName="dataCompra"
            [required]="true"
            ngModel>
                <i class="ph ph-calendar" label-icon></i>
                <i class="ph ph-info" optional-icon></i>
            </app-input>
             
            <app-input 
            inputType="number" 
            inputID="valorCompra"
            name="valorCompra" 
            inputName="valorCompra"
            inputPlaceholder="Valor da compra"
            [required]="true"
            ngModel>
            <i class="ph ph-letter-circle-p" label-icon></i>
            </app-input>

            <select name="tipoCompra" id="tipoCompra" ngModel required>
                <option value="" selected disabled hidden>Selecione uma opção</option>
                <option *ngFor="let enum of tipoCompraEnum | keyvalue" [value]="enum.key">{{ enum.value }}</option>
            </select>
        </section>
        
        <section class="button-section">
            <app-button type="submit">
                Registrar compra
            </app-button>
        </section>
    </form>
</app-modal>
