<!-- Louvado seja o Senhor -->

<section>
    <div>
        <label for="search">
            <i class="ph ph-magnifying-glass"></i>
            <input type="text" name="search" id="search">
        </label>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Valor Unitário</th>
                    <th>Valor do Kg</th>
                    <th>Categoria</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>