/* Louvado seja o Senhor */

main{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.decoration-section{
    background-color: var(--primary-color);
    width: 50%;
    height: 100%;
    background-image: url("../../../../public/img/JPS-logo.png");
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
}

.form-section{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-color);
}