<!-- Louvado seja o Senhor -->

<app-modal [(isOpen)]="isEditDividaOpen" class="modal" width="40vw" height="40vh">
    <h1 modal-title>Editar Registro de Divida</h1>
    
    <i class="ph ph-pencil-simple icon" modal-icon></i>

    <form #formEdicao="ngForm" (ngSubmit)="editRegistroDivida(formEdicao)" modal-content>
        <div class="input-div">
            <app-input 
            inputType="number" 
            inputID="valorDivida"
            name="valorDivida" 
            inputName="valorDivida" 
            inputValue="{{ formValues.valorDivida }}"
            inputPlaceholder="Valor da Dívida"
            [(ngModel)]="formValues.valorDivida">
                <i class="ph ph-scan" label-icon></i>
            </app-input>
            
            <app-input 
            inputType="date" 
            inputID="dataDivida"
            name="dataDivida" 
            inputName="dataDivida"
            inputValue="{{ formValues.dataDivida }}"
            [(ngModel)]="formValues.dataDivida">
                <i class="ph ph-coin" label-icon></i>
            </app-input>

            <div class="button-div">
                <app-button type="submit">
                    Concluir edição
                </app-button>
            </div>
        </div>
    </form>
</app-modal>
