<!-- Louvado seja o Senhor -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <app-header/>
    </header>
    
    <main>
        <section class="card-section">
            <app-card href="/vendas" class="card">
                <i class="ph ph-coin-vertical" card-img></i>
                <div card-title class="card-title">
                    <p>Relatório de Vendas</p>
                </div>
            </app-card>
            
            <app-card href="/estoque" class="card">
                <i class="ph ph-package" card-img></i>
                <div card-title class="card-title">
                <p>Estoque</p>
                </div>
            </app-card>
        </section>
    </main>
</body>
</html>