/* Louvado seja o Senhor */

body{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

main{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 4rem;
}

.manual-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-family: 'Inter', sans-serif;
    width: 50%;
}

.manual-section div{
    width: 50%;
    height: 80%;
    background-color: var(--secondary-table-row-color);
    border-radius: 8px;
    border: 1px solid var(--highlight-color);
    padding: 2rem;
}

.manual-section ul li{
    margin-bottom: 0.75rem;
    text-align: justify;
    list-style-type: none;
}

.card-container{
    width: 50%;
}

.card-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 4rem;
    width: 50%;
}

.card .ph{
    font-size: 8rem;
}

.card-title p{
    font-size: 2.5rem;
    text-align: center;
}

.home-carousel-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}