/* Louvado seja o Senhor */

body{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.card-section{
    display: flex;
    justify-content: space-evenly;
}

.card .ph{
    font-size: 8rem;
}

.card-title p{
    font-size: 2.5rem;
    text-align: center;
}