/* Louvado seja o Senhor */

body{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 4rem;
}

.card-section{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.card .ph{
    font-size: 8rem;
}

.card-title p{
    font-size: 2.5rem;
    text-align: center;
}

.home-carousel-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}