/* Louvado seja o Senhor */

label{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 7px solid var(--tertiary-color);
    border-radius: 4px;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    width: 20rem;
    height: 1.5rem;
    font-size: 1.25rem;
}

input{
    width: 100%;
    height: 100%;
    padding: 0.125rem 0.5rem;
    border: none;
    border-radius: 4px;
    font-size: 0.915rem;
}

