/* Louvado seja o Senhor */

label{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 7px solid var(--tertiary-color);
    border-radius: 4px;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    width: 20rem;
    height: 1.5rem;
    font-size: 1.25rem;
}

input{
    width: 100%;
    height: 100%;
    padding: 0.125rem 0.5rem;
    border: 1px solid #38B75A;
    border-radius: 4px;
    font-size: 0.915rem;
    transition: .3s;
}

input:focus {
  border-color: #2FAE55;
  box-shadow: 0 0 0 3px rgba(47, 174, 85, 0.2);
}

