/* Louvado seja o Senhor */

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
}