/* Louvado seja o Senhor */

/* You can add global styles to this file, and also import other style files */

:root{
    --primary-color: #fff;
    --secondary-color: #000;
    --tertiary-color: #37B45C;
    --highlight-color: #73AF6F;
    
    --card-bg-color: #F1F3E0;
    --secondary-table-row-color: #F4F9F4;
}

*{
    margin: 0;
    padding: 0;
}